<!--
  DEM PUMPKINS: Emily Ortiz, Diana Akhmedova, May Qiu
  SoftDev
  P00 -- Move Slowly and Fix Things
  2022-11-09
  time spent: __ hours
-->

<!DOCTYPE html>

<html>

    <head>
        <title>{{blog_name}}</title>
    </head>

    <body>
        <h1>{{blog_name}} by {{username}}</h1>

        <!-- button to create entry -->
        <a href="/create_entry" name="create_entry" value="create_entry"><button>Create Entry</button></a>
        <!-- button to edit entry -->
        <a href="/edit_entry" name="edit_entry" value="edit_entry"><button>Edit Entry</button></a>
        <!-- button to log out -->
        <a href="/logout" name="logout" value="Logout"><button>Logout</button></a>
        
        <h2>{{title}}</h2>
        <h3>{{date_published}} (Last Edited {{last_edited}})</h3>
        <p>{{paragraph}}</p>
    </body>

</html>
