<!--
  DEM PUMPKINS: Emily Ortiz, Diana Akhmedova, May Qiu
  SoftDev
  P00 -- Move Slowly and Fix Things
  2022-11-15
  time spent: 25 hours
-->

<!DOCTYPE html>

<html>

    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

        <title>CREATE ACCOUNT PAGE</title>
        <link rel="stylesheet" href="\static/css/style.css" />
    </head>

    <body>
        <h1><u>Create Your Own Special Account</u></h1>

        <h2>Create a unique username, password, and blog name.</h2>

        <form action="/create_account" method="post">
            <input type="text" name="username">
            <input type="text" name="password">
            <input type="text" name="blogname">
            <input type="submit" name="sub1" value="Submit" class="sub">
        </form>

        <!-- button to log out -->
        <a href="/login" name="login" value="Login"><button>Login</button></a>

        <p> {{ error_msg }} </p>
    </body>

</html>