<!--
DEM PUMPKINS: Emily Ortiz, Diana Akhmedova, May Qiu
SoftDev
P00 -- Move Slowly and Fix Things
2022-11-15
time spent: 25 hours
-->

<!DOCTYPE html>

<html>

    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

        <title>Edit Entry</title>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>

    <body>
        
        <!-- button to go back to blog -->
        <a href="/user_blog" name="userblog" value="userblog"><button>Return to Blog</button></a>
        <!-- button to log out -->
        <a href="/logout" name="logout" value="Logout"><button>Logout</button></a>

        <br>
        <br>
        <hr>
        <br>

        <h1><u>Hold The Power To Edit Your Entries</u></h1>

        <h2>Instructions:</h2>
        <p>Submit the entry ID of the entry you want to edit, new title, and new paragraph.</p>

        <h2>Important:</h2>
        <p> If you want to include old content in your update, 
            you have to copy and paste it yourself. 
            Whatever is submitted in the form replaces the old entry.</p>

        <form action="/edit_entry" method="get">
            <input type="text" name="entry_id" placeholder="Enter the entry id...">
            <input type="text" name="title" placeholder="Edit the title...">
            <input type="text" name="paragraph" placeholder="Edit your entry...">
            <input type="submit" name="sub1" class="sub">
        </form>

    </body>

</html>
