<!--
  DEM PUMPKINS: Emily Ortiz, Diana Akhmedova, May Qiu
  SoftDev
  P00 -- Move Slowly and Fix Things
  2022-11-09
  time spent: __ hours
-->

<!-- Temp blog file until <user>.html feature gets set up-->

<!DOCTYPE html>

<html>

    <head>
        <title>Elmo's Blog</title>
    </head>

    <body>
        <h1>Elmo's Blog by Elmo</h1>

        <!-- button to create entry -->
        <a href="/create_entry" name="create_entry" value="create_entry"><button>Create Entry</button></a>
        <!-- button to edit entry -->
        <a href="/edit_entry" name="edit_entry" value="edit_entry"><button>Edit Entry</button></a>
        <!-- button to explore other's blogs -->
        <a href="/explore" name="explore" value="explore"><button>Explore</button></a>
        <!-- button to log out -->
        <a href="/logout" name="logout" value="Logout"><button>Logout</button></a>
        
        <h2></h2>
        <h3></h3>
        <p></p>

        <h2></h2>
        <h3></h3>
        <p></p>
    </body>

</html>
