<!--
  DEM PUMPKINS: Emily Ortiz, Diana Akhmedova, May Qiu
  SoftDev
  P00 -- Move Slowly and Fix Things
  2022-11-09
  time spent: 3.5 hours
-->

<!DOCTYPE html>

<html>

    <head>
        <title>Explore</title>
    </head>

    <body>

        <a href="/user_blog" name="userblog" value="userblog"><button>Return to Blog</button></a>
        <a href="/login" name="logout" value="Logout"><button>Logout</button></a>
        <h3>Other's Blogs</h3>

        

        <p> You have read through all blogs on our website </p>
    </body>

</html>