
    <!--
        DEM PUMPKINS: Emily Ortiz, Diana Akhmedova, May Qiu
        SoftDev
        P00 -- Move Slowly and Fix Things
        2022-11-15
        time spent: 25 hours
    -->

    <!DOCTYPE html>
    <html>
        <head>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

            <title> by Elmo</title>
            <link rel="stylesheet" href="/static/css/style.css" />
        </head>

        <body>
            <h1> by Elmo</h1>
    
    <a href="/explore" name="explore" value="explore"><button>Explore</button></a>
    <!-- button to log out -->
    <a href="/logout" name="logout" value="Logout"><button>Logout</button></a>
    
        </body>
    </html>