
    <!--
        DEM PUMPKINS: Emily Ortiz, Diana Akhmedova, May Qiu
        SoftDev
        P00 -- Move Slowly and Fix Things
        2022-11-15
        time spent: 25 hours
    -->

    <!DOCTYPE html>
    <html>
        <head>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

            <title>HEHE by LittleTimmy</title>
            <link rel="stylesheet" href="/static/css/style.css" />
        </head>

        <body>
            <h1>HEHE by LittleTimmy</h1>
    
        <!-- button to create entry -->
        <a href="/create_entry" name="create_entry" value="create_entry"><button>Create Entry</button></a>
        <!-- button to edit entry -->
        <a href="/edit_entry" name="edit_entry" value="edit_entry"><button>Edit Entry</button></a>
        <!-- button to explore other's blogs -->
        
    <a href="/explore" name="explore" value="explore"><button>Explore</button></a>
    <!-- button to log out -->
    <a href="/logout" name="logout" value="Logout"><button>Logout</button></a>
    
        <hr>
        <h2 id="entry">1: sad</h2>
        <p id="words">sad</p>
        
        <hr>
        <h2 id="entry">2: dsf</h2>
        <p id="words">ddd</p>
        
        </body>
    </html>